.button {
-fx-background-color: #500020;
-fx-text-fill: #ffcc00;
-fx-font-weight: bold;
-fx-font-size: 14px;
-fx-padding: 10 20 10 20;
-fx-background-radius: 10;
-fx-border-radius: 6;
-fx-border-color: #ffcc00;
-fx-border-width: 2;
-fx-cursor: hand;
}

.button:hover {
-fx-background-color: #ffcc00;
-fx-text-fill: #500020;
-fx-font-weight: bold;
-fx-font-size: 14px;
-fx-padding: 10 20 10 20;
-fx-background-radius: 10;
-fx-border-radius: 10;
-fx-border-color: #ffcc00;
-fx-border-width: 2;
-fx-cursor: hand;
}